.contact-grid {
  padding: 1em 2em;
  display: grid;
  grid-template: 1fr / repeat(5, 1fr);
  grid-gap: 1em;
}

.contact-us-header{
  background-color: var(--accent1-color);
  text-align: center;
    grid-column: 1/-1;
}

.contact-form > h2{
  text-align: center;
}

h3 {
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul, p {
  margin-block-end: .5em;
}

input, textarea {
  width: 95%;
}

#send-button {
  width: auto;
  padding: .5em;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  margin: 0 auto;
  border-color: var(--accent2-color);
  display: block;
}

.business-info {
  grid-column: 1/3;
  text-align: center;
}

.contact-break {
  text-align: center;
  grid-column: 3/4;
  padding-top: 1em;
}

.contact-form {
  grid-column: 4/6;
}
